[submodule "myqc"]
	path = src/main/java/com/mmh/qa/auto/myqc
	url = git@bitbucket.org:mmhayesqc/qa-myqc.git
[submodule "qcweb"]
	path = src/main/java/com/mmh/qa/auto/qcweb
	url = git@bitbucket.org:mmhayesqc/qa-qcweb.git
